body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

#header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}


.hero-area {
    background-image: url(background\ css\ PINK.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0,5);   
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 20px;
}

.projects-item {
    width: 300px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0,1)
}

.projects-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 15px;
}

#main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}


