body {
    margin: 0;
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-size: auto;

}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
}

.product-card {
    background-color: rgb(199, 129, 140);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgb(0 ,0 ,0 ,0.1)
    
}

.product-card img {
    width: 100px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}

.product-card button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}